= form_for @testimony do |f|
  - if @testimony.errors.any?
    #error_explanation
      %h2= "#{pluralize(@testimony.errors.count, "error")} prohibited this testimony from being saved:"
      %ul
        - @testimony.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
